<ion-view title="ข้อมูลกิจกรรม">
  <ion-content class="has-header" ng-init="loadMenu()" style="background: url(img/bg1.jpg) center; background-size: cover;">
    <div class="list list-inset card"></div>
    <!--Activities Header-->
    <label ng-click="addManipulation()" class="item item-input  item ic-selected">
          <a class="icon icon-right ion-ios-people" style="margin-right: 10px; font-size: 200%; color:white;"></a>
          <p style="color:white; font-size:15px;">เพิ่มกิจกรรม</p>
          <i  class="icon icon-right ion-android-add-circle" style="font-size: 200%; color:white; margin-left: 57%;"></i>
        </label>
    <div ng-repeat="item in Activities">
      <div class="list card">
        <div style="min-height: 5px;" class="item item-divider">
          <a class="icon icon-right ion-ios-people"></a>
          {{item.Activities_name}}
          <div style="float: right;">
            <a ng-click="addManipulation(item)" class="icon icon-right ion-edit" style="font-size: 20px;"></a>
            <a ng-click="deleteActivities(item.$id)" class="icon icon-right ion-android-delete" style="font-size: 20px;"></a>
          </div>
        </div>
        <div class="item item-body">
          <span style="font-size:15px"> {{item.Activities}} </span>
          <span style="font-size:15px"> วันที่จัดกิจกรรม : {{item.Activities_date}} </span>
        </div>
      </div>
    </div>
    <!-- <div class="row" ng-repeat="item in menu" ng-if="$index % 2 === 0" style="border-top: 1px solid #999;">


      <div class="col col-50 " ng-if="$index < menu.length" style="padding:1px;border-right:1px solid #999" >

          <div class="item item-image" style="border-width: 0px; border-style: none;">
          <img ng-click="showProductInfo(menu[$index].$id)" ng-src="{{'img/fk/'+ menu[$index].image +'.jpg'}}" width="100%" />
          </div>

          <a class="item item-icon-right assertive" href="#"  style="border-width: 0px; border-style: none;" >
          <p ng-click="showProductInfo(menu[$index].$id)" style="font-size: 12px;text-align:left;">
            {{menu[$index].name}} <br/>
            <span style="font-weight: bold;color: black;">&#8377; {{menu[$index].price}}</span>
          </p>
          <i style="font-size: 25px; margin-right:0px;right:0px;"  ng-click="addToCart(menu[$index])" class="icon ion-ios-cart"></i>
          </a>

      </div>


      <div class="col col-50 " ng-if="$index+1  < menu.length" style="padding:1px;">

          <div class="item item-image" style="border-width: 0px; border-style: none;">
          <img ng-click="showProductInfo(menu[$index+1].$id)" ng-src="{{'img/fk/'+ menu[$index+1].image +'.jpg'}}" width="100%" />
          </div>

          <a class="item item-icon-right assertive" href="#"  style="border-width: 0px; border-style: none;" >
          <p ng-click="showProductInfo(menu[$index+1].$id)" style="font-size: 12px;text-align:left;">
            {{menu[$index+1].name}} <br/>
            <span style="font-weight: bold;color: black;">&#8377; {{menu[$index+1].price}}</span>
          </p>
          <i style="font-size: 25px;right: 0px;"  ng-click="addToCart(menu[$index+1])" class="icon ion-ios-cart"></i>
          </a>


      </div>

    </div> -->

  </ion-content>
</ion-view>
