<ion-view title="กิจกรรม">
  <ion-content class="has-header" ng-init="loadActivities()" style="background: url(img/bg1.jpg) center; background-size: cover;">

    <!--Activities Header-->
    <div ng-repeat="item in Activities">
      <div class="list card">
        <div ng-click="addTohome(Activities[$index])" style="min-height: 5px; background-color:#87CEEB;" class="item item-divider">
          <a class="icon icon-right ion-ios-people" style="color:black;"></a>
          {{item.name}}
          <div style="float: right;">
            <a ng-click="addManipulation(item)" class="icon icon-right ion-edit" style="color:black; font-size: 20px;"></a>
            <a ng-click="deleteActivities(item.$id)" class="icon icon-right ion-android-delete" style="color:black; font-size: 20px;"></a>
          </div>
        </div>
        <div class="item item-body">
          <span style="font-size:15px"> {{item.Activities}} </span>
          <span style="font-size:15px"> วันที่จัดกิจกรรม : {{item.Activities_date}} </span>
        </div>
      </div>
    </div>

  </ion-content>
  <i ng-click="addManipulation()" class="ion-android-add-circle" style="font-size: 400%; color:#FF0000; position: absolute; bottom: 5%; right: 10%;"></i>
  </ion-view>
