<ion-view title="ตรวจสอบเวลา">
	<ion-content style="background: url(img/bg1.jpg) center; background-size: cover;">
	<div class="row header">
          <div class="col">ชื่อ</div>
          <div class="col">เวลา</div>
          <div class="col">วันที่</div>
          <div class="col">สถานที่</div>

        </div>
         <div class="row" ng-repeat="data in ctrl">
          <div class="col">{{data.Name}}</div>
          <div class="col">{{data.Time}}</div>
          <div class="col">{{data.Date}}</div>
          <div class="col">{{data.Places}}</div>
        </div>
 	</ion-content>
</ion-view>
