<ion-view style="" class=" " id="page7" title="ตรวจสอบเวลา">
  <ion-content class="has-header" padding="false" style="background: url(img/bg1.jpg) center; background-size: cover;">


        <!--subject Header-->
        <div ng-repeat="item in subject">
          <div ng-click="At()" class="list card">
            <div style="background-color:#87CEEB" style="min-height: 10px;" class="item item-divider">
              <a style="color:black; margin-right:10px;" class="icon icon-right ion-ios-book"></a>
              {{item.Subject_name}}
            </div>
            <div class="item item-body">

              <span style="font-size:15px">{{item.subject}}</span>
              <span style="font-size:15px">รหัสวิชา: {{item.Subject_id}}</span>
              <span style="margin-left: 30%; font-size:15px">กลุ่ม: {{item.group}}</span>

            </div>
          </div>
        </div>

        <!--Activities Header-->
        <div ng-repeat="item in Activities">
          <div ng-click="At()" class="list card">
            <div style="background-color:	#FFA07A; min-height: 10px;" class="item item-divider">
              <a style="color:black; margin-right:10px;" class="icon icon-right ion-ios-people"></a>
              {{item.Activities_name}}
              <div style="float: right;">
              </div>
            </div>
            <div class="item item-body">
              <span style="font-size:15px"> {{item.Activities}} </span>
              <span style="font-size:15px"> วันที่จัดกิจกรรม : {{item.Activities_date}} </span>
            </div>
          </div>
        </div>

  </ion-content>
</ion-view>
