<ion-view title="เพิ่มรายวิชาในระบบ">
	<ion-content id="background">
		<div class="list card">
			<label class="item item-input ic-selected">
	        <span class="input-label">ปีการศึกษา</span>
	        <select name="Faculty" ng-model="user_extras.Faculty" placeholder="Faculty">
	        	<option></option>
	        </select>
	     </label>

			<label class="item item-input ic-selected">
	        <span class="input-label">ภาคการศึกษา</span>
	        <select name="Faculty" ng-model="user_extras.Faculty" placeholder="Faculty">
	        	<option></option>
	        </select>
	     </label>

			<label class="item item-input ic-selected">
	        <span class="input-label">สาขาวิชา</span>
	        <select name="Faculty" ng-model="user_extras.Faculty" placeholder="Faculty">
	        	<option></option>
	        </select>
	     </label>

			<label class="item item-input ic-selected">
	        <span class="input-label">ชั้นปี</span>
	        <select name="Faculty" ng-model="user_extras.Faculty" placeholder="Faculty">
	        	<option></option>
	        </select>
	     </label>

			<!--Add Subject-->
			<label style="margin-left: 50%;" ng-click="addManipulation()" class="item item-input  item ic-selected">
            <a class="icon icon-right ion-ios-book" style="font-size: 200%; margin-right: 15px;"></a>
            เพิ่มรายวิชา
            <i  class="icon icon-right ion-android-add-circle" style="font-size: 200%;"></i>
     </label>


			<div ng-repeat="item in subject">
				<div class="list card">
					<div style="min-height: 10px;" class="item item-divider">
						<a class="icon icon-right ion-ios-book"></a>
						{{item.Subject_name}}
						<div style="float: right;">
							<a ng-click="addManipulation(item)" class="icon icon-right ion-edit" style="font-size: 20px;"></a>
							<a ng-click="deletesubject(item.$id)" class="icon icon-right ion-android-delete" style="font-size: 20px;"></a>
						</div>
					</div>
					<div class="item item-body">

						<span> {{item.subject}} </span>
						<span>Subject_id: {{item.Subject_id}}</span>
						<span>Group: {{item.group}}</span>

					</div>
				</div>
			</div>
		</div>
	</ion-content>

</ion-view>
